@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0039d6;
}

.white-card {
  background-color: #f0f1f3;
  border: 1px solid #0039d6;
}

.pattern-bg {
  background-image: repeating-linear-gradient(
    45deg,
    #0039d6 0,
    #0039d6 1px,
    transparent 1px,
    transparent 6px
  );
  opacity: 0.15;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}
.scroll-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* date input on blue bg */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
